.container {
	box-shadow: 5px
}

.card-stripe {
	width: 100%;
	height: 10px;
	border-radius: 2px 2px 0 0;
}

.gallery-cell {
	height: 200px;
	overflow: hidden;
}

.gallery-card-image {
	overflow: hidden;
	height: 200px;
}

.featherlight-image{
	/*max-width: 100% !important;*/
	margin: 0 auto;
}

@media only screen and (min-height:1000px) {
    .featherlight-image { height: 900px; }
}
@media only screen and (min-height:700px) {
    .featherlight-image { height: 600px; }
}
@media only screen and (max-height:700px) {
    .featherlight-image { height: 400px; }
}

.overflow-cell {
	overflow: hidden;
	/*width:200px;*/
	/*height: 200px;*/
}

.cell-size {
	/*position: relative;*/
	/*left: -50%;*/
	/*top: -50%;*/
}

html {
/*	background:
linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 22px, #e7e7e7 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px*/

background-color: #37474f;
background-image:
/*repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),*/
/*repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),*/
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;

}

.page {
	background-color: white;
	padding: 20px;
	min-height: calc(100vh - 64px);
}