<div class="col s12">
	<div class="section center-align">
		<img src="{{ url('theme://images/logo.png') }}" width="100px">
		<h4>Hello, World</h4>
	</div>
	
	<div class="divider"></div>

	<div class="section">
	</div>
</div>
