<div class="row">
	<div class="col s12">
		<div class="section center-align">
			<img src="{{ url('theme://images/avatar.svg') }}" class="blog-avatar"/>
			<h4>Hello, World</h4>
		</div>
		
		<div class="divider"></div>

		<div class="section">
		</div>
	</div>
</div>