{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}


{% block content %}

	<div class="row" style="height: 100%">
		<div class="col s12 m9 l7 ">
			<div class="row">
				{% for child in collection %}
					{% include 'partials/blog_item.html.twig' with { 'blog':page, 'page':child, 'truncate':true } %}
				{% endfor %}
			</div>
		</div>

		<div class="col m3 l5">
			<div class="row s12">
				{% include 'partials/blog_sidebar.html.twig' %}
			</div>
		</div>
	</div>

{% endblock %}