{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="z-depth-5 col s12 m12 l12">
			<div class="section">
				{% block page_content %}
				{{ page.content }}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
