{% extends 'partials/base.html.twig' %}

{% block content %}
{% set content = page.content|slice(page.summary|length) %}
{% set publish_date = page.date|date('F ') ~ page.date|date('j')|ordinalize() ~ page.date|date(', Y') %}

<div class="row">
	<div class="col s12">
		<div class="card-panel center-align">
			<h2>{{ page.title }}</h2>
		</div>
	</div>

	<div class="col s12">
		<span class="chip">Published: {{ publish_date }}</span>

		{% for tag in page.taxonomy.tag %}
		<span class="chip right">{{ tag }}</span>
		{% endfor %}
	</div>

	<div class="col s12">
		<div class="row">
			<div class="col s12">
				<div class="card-panel blog-panel">
					<div class="blog-content">
						{{ content }}
					</div>
				</div>
			</div>
			
			{# <div class="col m3 hide-on-small-only">
				<div class="card-panel">
					{% include 'partials/blog_sidebar.html.twig' %}
				</div>
			</div> #}

		</div>
	</div>
</div>

{% endblock %}