{% extends 'partials/base.html.twig' %}

{% block content %}
{% set content = page.content|slice(page.summary|length) %}
{% set publish_date = page.date|date('F ') ~ page.date|date('j')|ordinalize() ~ page.date|date(', Y') %}

<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<h2>{{ page.title }}</h2>
		</div>
	</div>

	<div class="col s12">
		<span class="chip">Published: {{ publish_date }}</span>

		{% for tag in page.taxonomy.tag %}
		<span class="chip right">{{ tag }}</span>
		{% endfor %}
	</div>

	<div class="col s12">
		<div class="card-panel">
			{{ content }}
		</div>
	</div>
</div>

{% endblock %}