{% extends 'partials/base.html.twig' %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th data-field="paste_title">Title</th>
				<th data-field="paste_author">Author</th>
				<th data-field="paste_created">Created</th>
			</tr>
		</thead>	
		<tbody>
		{% for paste in GetPastes() %}
			<tr>
				<td><a href="{{ page.url ~ "/view/" ~ paste.id }}">{{ paste.title }}</a></td>
				<td>{{ paste.author }}</td>
				<td>{{ paste.created|date("m/d/Y") }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
