{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}

{{ page.content }}

<div class="row">
		{% for child in collection %}

		{% include 'partials/gallery_preview.html.twig' with {'photography':page, 'page':child, 'truncate':true } %}

		{% endfor %}
</div>

{% endblock %}