<div class="fixed-action-btn">
	<a 
		class="btn-floating btn-large waves-effect waves-light red"
		onclick="location.href='{{ config.plugins.pastebin.route_new }}';">
			<i class="material-icons">add</i>
	</a>
</div>